@model NRLLadderERPSite.Models.Ladder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ladder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ladder_Dif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ladder_Dif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PKFK_TeamID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
